.result{
    margin:3rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    font-size: 80px;
    font-weight: 700;
}
.data{
    margin:1rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;
    font-weight: 500;
}
.allbtn{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
button{
    font-size: 2rem;
    width:100px;
    height:100px;
    border: 1px solid red;
}